<div class="app-wrapper">

  <div class="filter gl-padd-x24" [formGroup]="form">
    <app-search-panel (searchTermChanded)="updateFilters($event)" placeholder="Search" class="gl-mar-r16">
    </app-search-panel>
  </div>

  <div class="list">
    <app-block class="app-main-item" *ngFor="let block of blocks$ | async" [block]="block"></app-block>
  </div>

</div>
















<!-- <app-search-panel placeholder="Search" class="gl-mar-r16">
</app-search-panel> -->
<!-- (searchTermChanded)="updateFilters($event)" -->
<!-- placeholder="Search" -->
<!-- <div>
        <mat-icon class="min-width">more_vert</mat-icon>
        <mat-icon>more_vert</mat-icon>
      </div> -->