<article *ngIf="block; else noMessage" class="block">

  <div class="block-content">

    <div class="block-content-left">
      <img src="{{ block.avatar_url }}" alt="">
      <span ngbTooltip="login">{{ block.login }}</span>
    </div>

    <div class="block-content-right">
      <span ngbTooltip="type"> {{ block.type }}</span>

      <a href="{{ block.html_url }}" ngbTooltip="go to github">
        <fa-icon class="faLink" [icon]="faLink"> </fa-icon>
      </a>
      <a (click)="goToDetailPage()">
        <fa-icon class="faQuestionCircle" [icon]="faQuestionCircle" ngbTooltip="go to detail page"></fa-icon>
      </a>
    </div>

  </div>

</article>

<ng-template #noMessage>
  <article class="noMessage"><a href="#">NO DATA</a></article>
</ng-template>