<div class="displayTable">
  <div class="displayTableCell">

    <div class="authBlock">
      <h3 class="authBlock-title">Sign In</h3>

      <!-- Calling GoogleAuth Api from AuthService -->
      <div class="formGroup">
        <button type="button" class="authBlock-btn googleBtn" (click)="authService.GoogleAuth()">
          <i class="fab fa-google-plus-g"></i>
          Log in with Google
        </button>
      </div>

      <!-- Calling GitHub Api from AuthService -->
      <div class="formGroup">
        <button type="button" class="authBlock-btn authBlock-btn-github googleBtn" (click)="authService.GithubAuth()">
          <i class="fab fa-google-plus-g"></i>
          Log in with GitHub
        </button>
      </div>

    </div>

    <div class="redirectToLogin">
      <p>Don't have an account?<span class="redirect" routerLink="/register-user"> Sign Up</span></p>
    </div>

  </div>
</div>